@model PurchaseDetailTask.Models.Sell

@{
    ViewData["Title"] = "Create";
}

<h4>Sales</h4>
<hr />

<div class="col-12 mx-auto pt-0">
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height:45px;">
            <h4>Create</h4>
        </div>

        <form asp-action="Create">
           <div class="row mt-3 m-2">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">              
                    <div class="form-group">
                        <label asp-for="InvoiceNo" class="control-label"></label>
                        <input asp-for="InvoiceNo" class="form-control" />
                        <span asp-validation-for="InvoiceNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TotalPrice" class="control-label"></label>
                        <input asp-for="TotalPrice" class="form-control" />
                        <span asp-validation-for="TotalPrice" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 mt-2">
                    <div class="form-group">
                        <label asp-for="TotalDiscount" class="control-label"></label>
                        <input asp-for="TotalDiscount" class="form-control" />
                        <span asp-validation-for="TotalDiscount" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 mt-2">
                    <div class="form-group">
                        <label asp-for="TotalPurchase" class="control-label"></label>
                        <input asp-for="TotalPurchase" class="form-control" />
                        <span asp-validation-for="TotalPurchase" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 mt-2">
                    <div class="form-group">
                        <label asp-for="TotalProfit" class="control-label"></label>
                        <input asp-for="TotalProfit" class="form-control" />
                        <span asp-validation-for="TotalProfit" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-12 btn-group mt-2">
                    <div class="col-6 form-group text-right p-2">
                        <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
                    </div>

                    <div class="col-6 form-group text-left p-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
           </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
