@model PurchaseDetailTask.Models.Details

@{
    ViewData["Title"] = "Create";
}

<h4>Product Details</h4>
<hr />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

@*<div class="col-12 mx-auto pt-0">
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height:45px;">
            <h4>Create product details</h4>   
        </div>
        
         <form asp-action="Create">
            <div class="row mt-3 m-2">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>   
                    <div class="col-md-6">
                        <div class="form-group mt-2">
                            <label asp-for="Product" class="control-label"></label>
                            <input asp-for="Product" class="form-control" />
                            <span asp-validation-for="Product" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label asp-for="PurchasePrice" class="control-label">Purchase Price</label>
                            <input asp-for="PurchasePrice" class="form-control" />
                            <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label asp-for="SellPrice" class="control-label">Sale Price</label>
                            <input asp-for="SellPrice" class="form-control" id="price" onchange="getTotal()"/>
                            <span asp-validation-for="SellPrice" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" id="qty" onchange="getTotal()"/>
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>  

                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label asp-for="Discount" class="control-label"></label>
                            <input asp-for="Discount" class="form-control" id="discount" onchange="getTotal()"/>
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label asp-for="Total" class="control-label">Net Total</label>
                            <input asp-for="Total" class="form-control" id="NetTotal"/>
                            <span asp-validation-for="Total" class="text-danger"></span>
                        </div>
                    </div>
                
                <div class="col-12 btn-group mt-2">
                    <div class="col-6 form-group text-right p-2">
                        <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
                    </div>

                    <div class="col-6 form-group text-left p-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
         </form>
    </div>
</div>*@


<div class="col-12 mx-auto pt-0">
    <!--CARD-->
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height:45px;">
            <h4>Create product details</h4>
        </div>

        <!--TABLE-->
        <table class="table table-bordered mt-3" id="dynamicAddRemove">
             <tr>
                <th class="wd-15p fontColor">Product</th>
                <th class="wd-15p fontColor">Purchase Price</th>
                <th class="wd-15p fontColor">Sell Price</th>
                <th class="wd-15p fontColor">Quantity</th>
                <th class="wd-15p fontColor">Discount</th>
                <th class="wd-15p fontColor">Total</th>
                <th class="wd-10p fontColor td2">
                <button type="button" name="add" id="add-btn" class="btn btn-success">Add</button></th>
             </tr>
           
             <tfoot>
                <tr>
                   <td class="text-right">Grand Total= </td>
                   <td><input type="text" placeholder="Total Purchase Price" class="form-control purchase_sub_total" readonly></td>
                   <td><input type="text" placeholder="Total Sale Price" class="form-control sell_sub_total" readonly></td>
                   <td><input type="text" placeholder="Total Quantity" class="form-control quantity_sub_total" readonly></td>
                   <td><input type="text" placeholder="Total Discount" class="form-control discount_sub_total" readonly></td>
                   <td><input type="text" placeholder="Total Profit" class="form-control sub_total" readonly></td>
                </tr>
             </tfoot>

        </table>
         
        <!--ACTION BUTTON-->
        <div class="col-12 btn-group mt-2">
            <div class="col-6 form-group text-right p-2 ms-5">
                <a asp-action="Index" class="btn btn-secondary w-50 ms-5 d-block">&nbsp;Back&nbsp;</a>
            </div>

            <div class="col-6 form-group text-left p-2">
                <input type="submit" value="Create" class="btn btn-primary w-50 d-block" />
            </div>
        </div>

    </div>

</div>


@section Scripts{
<script>

      var  i = 1;
      $("#add-btn").click(function () {
         //++i;
          $("#dynamicAddRemove").append(
              '<tr><td class="td"><input type="text" name="product[' + i + ']" placeholder="Enter Product Name" class="form-control" id="product_' + i + '" /></td><td class="td"><input type="text" name="purchasePrice[' + i + ']" placeholder="Enter Purchase Price" class="form-control PurchasePrice" id="purchasePrice_' + i + '" /></td><td class="td"><input type="text" name="SellPrice[' + i + ']" placeholder="Enter Sale Price" class="form-control SellPrice" id="SellPrice_' + i + '" /></td><td class="td"><input type="text" name="Quantity[' + i + ']" placeholder="Enter Quantity"  class="form-control Quantity" id="quantity_' + i + '" /></td><td class="td"><input type="text" name="Discount[' + i + ']" placeholder="Enter Discount" class="form-control Discount" id="discount_' + i + '" /></td><td class="td"><input type="text" name="Total[' + i + ']" placeholder="Subtotal" class="form-control Total" id="total_' + i + '" value="0.00" readonly /></td></button></td><td class="td2"><button type="button" name="add" class="btn btn-danger remove-tr">Remove</button></td></tr>'
                         
             );
           i++;
      });

      $(document).on('click', '.remove-tr', function () {
          $(this).parents('tr').remove();
      });

      //on key up of total calculation
      $(document).on('keyup', '.PurchasePrice , .SellPrice, .Quantity, .Discount', function () {
          var purchasePrice = $(this).closest('tr').find('.PurchasePrice').val();
          var sellPrice = $(this).closest('tr').find('.SellPrice').val();
          var quantity = $(this).closest('tr').find('.Quantity').val();
          var discount = $(this).closest('tr').find('.Discount').val();
          var total = sellPrice * quantity - discount;
          //add value to required total td
          $(this).closest('tr').find('.Total').val(total);

          // Calculate value of grand total row



      });
      
      $(document).ready(function(){
         
      });

    //CALCULATIONS OF PRODUCTS
    function getTotal() {

        var price = document.getElementById("price").value;
        var qty = document.getElementById("qty").value;
        var total = price * qty;
        
        var discount = document.getElementById("discount").value;

        var NetTotal = total - discount;

        document.getElementById("NetTotal").value = NetTotal;
    }

</script>
}