@model PurchaseDetailTask.Models.Details

@{
    ViewData["Title"] = "Create";
}

<h4>Product Details</h4>
<hr />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<div class="col-12 mx-auto pt-0">
    <!--CARD-->
    <div class="card w-100">
        <div class="card-header bg-success text-uppercase text-white" style="height:45px;">
            <h4>Create product details</h4>
        </div>

        <form asp-action="Create" id="DetailsForm">
        
        <table class="order-list">
            <thead>
                <tr>
                    <td>Product</td>
                    <td>Purchase price</td>
                    <td>Sale price</td>
                    <td>Quantity</td>
                    <td>Discount</td>
                    <td>Total</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><input type="text" name="Product" /></td>
                    <td><input type="text" name="PurchasePrice" /></td>
                    <td><input type="text" name="SellPrice" /></td>
                    <td><input type="text" name="Quantity" /></td>
                    <td><input type="text" name="Discount" /></td>
                    <td class="d-none"><input type="text" name="Profit" /></td>
                    <td><input type="text" name="Total" readonly="readonly" /></td>
                    <td><a class="btn btn-danger deleteRow">Remove</a></td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="5" style="text-align: center;">
                        @*<input type="button" id="addrow" value="Add Product" />*@
                        <button type="button" id="addrow" value="Add Product" class="btn btn-success">Add</button>
                    </td>
                </tr>

                <tr class="text-right">
                    <td>Total Price : $<span id="TotalPrice"></span></td>
                </tr>

                <tr>
                    <td>
                       Total Purchase price: $<span id="TotalPurchasePrice"></span>
                    </td>
                    <td >
                        Total Sale price: $<span id="TotalSalePrice"></span>
                    </td>
                    <td >
                        Total Quantity: $<span id="TotalQuantity"></span>
                    </td>
                     <td >
                       Total Discount: $<span id="TotalDiscount"></span>
                    </td>
                     <td >
                        Total Profit: $<span id="TotalProfit"></span>
                    </td>
            
                </tr>
            </tfoot>
        </table>
        
        <!--ACTION BUTTON-->
        <div class="col-12 btn-group mt-2">
            <div class="col-6 form-group text-right p-2 ms-5">
                <a asp-action="Index" class="btn btn-secondary w-50 ms-5 d-block">&nbsp;Back&nbsp;</a>
            </div>

            <div class="col-6 form-group text-left p-2">
                @*<input hidden class="TotalRow" value="" name="TotalRow" type="text"/>*@
                <input type="submit" value="Create" class="btn btn-primary w-50 d-block" />
            </div>
        </div>
        </form>
    </div>

</div>


@section Scripts{
<script>
   $(document).ready(function () {
    var counter = 1;

    $("#addrow").on("click", function () {
        counter++;

        var newRow = $("<tr>");
        var cols = "";
        cols += '<td><input type="text" name="Product' + counter + '"/></td>';
        cols += '<td><input type="text" name="PurchasePrice' + counter + '"/></td>';
        cols += '<td><input type="number" name="SellPrice' + counter + '"/></td>';
        cols += '<td><input type="number" name="Quantity' + counter + '"/></td>';
        cols += '<td><input type="number" name="Discount' + counter + '"/></td>'; 
        cols += '<td class="d-none"><input type="number" name="Profit' + counter + '"/></td>';
        cols += '<td><input type="text" name="Total' + counter + '" readonly="readonly"/></td>';
        cols += '<td><a class="btn btn-danger deleteRow">Remove</a></td>';
        newRow.append(cols);

        $("table.order-list").append(newRow);
    });

    $("table.order-list").on("change", 'input[name^="SellPrice"], input[name^="Discount"], input[name^="Quantity"], input[name^="PurchasePrice"]', function (event) {
        calculateRow($(this).closest("tr"));
        calculateGrandTotal();
    });

    $("table.order-list").on("click", "a.deleteRow", function (event) {
        $(this).closest("tr").remove();
        calculateGrandTotal();
    });
});

function calculateRow(row) {
    var SellPrice = +row.find('input[name^="SellPrice"]').val();
    var PurchasePrice = +row.find('input[name^="PurchasePrice"]').val();
    var Quantity = +row.find('input[name^="Quantity"]').val();
    let Discount= +row.find('input[name^="Discount"]').val(); 
    
    const rowTotal=((SellPrice * Quantity)-Discount)
    const profit =((SellPrice-PurchasePrice)*Quantity)-Discount
    row.find('input[name^="Profit"]').val(profit);
    row.find('input[name^="Total"]').val(rowTotal);
}

function calculateGrandTotal() {
    let totalQuantity = 0;
    let totalPurchasePrice = 0;
    let totalSellPrice = 0;
    let totalDiscount = 0;
    let totalPrice = 0;
    let totalProfit = 0;

    $("table.order-list").find('input[name^="Quantity"]').each(function () {
        totalQuantity += +$(this).val();
    });

    $("table.order-list").find('input[name^="PurchasePrice"]').each(function () {
        totalPurchasePrice += +$(this).val();
    });

    $("table.order-list").find('input[name^="SellPrice"]').each(function () {
        totalSellPrice += +$(this).val();
    });

    $("table.order-list").find('input[name^="Discount"]').each(function () {
        totalDiscount += +$(this).val();
    });

    $("table.order-list").find('input[name^="Total"]').each(function () {
        totalPrice += +$(this).val();
    });

    $("table.order-list").find('input[name^="Profit"]').each(function () {
        totalProfit += +$(this).val();
    });

    $("#TotalPurchasePrice").text(totalPurchasePrice);
    $("#TotalSalePrice").text(totalSellPrice);
    $("#TotalQuantity").text(totalQuantity);
    $("#TotalDiscount").text(totalDiscount);
    $("#TotalPrice").text(totalPrice);
    $("#TotalProfit").text(totalProfit);
}
</script>
}