@model PurchaseDetailTask.Models.Details

@{
    ViewData["Title"] = "Create";
}

<h4>Product Details</h4>
<hr />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

@*<div class="col-12 mx-auto pt-0">
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height:45px;">
            <h4>Create product details</h4>   
        </div>
        
         <form asp-action="Create">
            <div class="row mt-3 m-2">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>   
                    <div class="col-md-6">
                        <div class="form-group mt-2">
                            <label asp-for="Product" class="control-label"></label>
                            <input asp-for="Product" class="form-control" />
                            <span asp-validation-for="Product" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label asp-for="PurchasePrice" class="control-label">Purchase Price</label>
                            <input asp-for="PurchasePrice" class="form-control" />
                            <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label asp-for="SellPrice" class="control-label">Sale Price</label>
                            <input asp-for="SellPrice" class="form-control" id="price" onchange="getTotal()"/>
                            <span asp-validation-for="SellPrice" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" id="qty" onchange="getTotal()"/>
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>  

                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label asp-for="Discount" class="control-label"></label>
                            <input asp-for="Discount" class="form-control" id="discount" onchange="getTotal()"/>
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label asp-for="Total" class="control-label">Net Total</label>
                            <input asp-for="Total" class="form-control" id="NetTotal"/>
                            <span asp-validation-for="Total" class="text-danger"></span>
                        </div>
                    </div>
                
                <div class="col-12 btn-group mt-2">
                    <div class="col-6 form-group text-right p-2">
                        <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
                    </div>

                    <div class="col-6 form-group text-left p-2">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
         </form>
    </div>
</div>*@


<div class="card">
	<div class="card-header bg-success text-uppercase text-white text-center mb-2 pt-1 p-4" style="height:25px;">
		<h6>Purchase Order - Create</h6>
	</div>

  <form id="PurchaseForm" asp-action="Create">

    <div class="row col-12">      
        <div class="col-12 ml-5">
			<table id="CodesTable" class="table table-borderless table-sm mb-0 pb-0">
			    <thead>
					<tr>
						<th>
							Product 
						</th>								
						<th>
							Purchase price
						</th>
                        <th>
							Sale price
						</th>
                        <th>
							Quantity
						</th> 
                        <th>
							Discount 
						</th>
                         <th>
							Total 
						</th>
                       @*<th>
							Unit
						</th>*@	
                        
                        <th style="width:60px;">
                            <button id='btnAddDetailRow' type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">
                                Add
                            </button>
                        </th>
					</tr>
				</thead>

            <tbody>                                
               @* @for (int i = 0; i < Model.Details; i++)
                {*@
                    <tr>								
					<td>
						<input asp-for="@Model.Product" class="form-control" />
						<span asp-validation-for="@Model.Product" class="text-danger"></span>
					</td>
					<td>
						<input asp-for="PurchasePrice" class="form-control" />
						<span asp-validation-for="PurchasePrice" class="text-danger"></span>
					</td>
                    <td>
						<input asp-for="SellPrice" class="form-control" id="price" onchange="getTotal()"/>
						<span asp-validation-for="SellPrice" class="text-danger"></span>
					</td>
                    <td>
						<input asp-for="Quantity" class="form-control" id="qty" onchange="getTotal()"/>
						<span asp-validation-for="Quantity" class="text-danger"></span>
					</td>
                    <td>
						<input asp-for="Discount" class="form-control" id="discount" onchange="getTotal()"/>
						<span asp-validation-for="Discount" class="text-danger"></span>
					</td>
                    <td>
						<input asp-for="Total" class="form-control" id="NetTotal"/>
						<span asp-validation-for="Total" class="text-danger"></span>
					</td>
                    @*<td>
						<input asp-for="@Model.Details[i].UnitName" class="form-control" readonly />
					</td>*@

                    <td style="width:60px;">
                        <button id='btnremove' type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">
                            Delete
                        </button>
                    </td>
                    </tr> 
                    
                @*}*@
            </tbody>             
			</table>

		</div>

       
        <div class="form-group btn-group col-12 mb-3 mt-3">
            <div class="col-1"></div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>           
            <div class="col-5">
                <a class="btn btn-secondary btn-block" asp-action="Index">Back</a>
            </div>     
            <div class="col-1"></div>
        </div>

</div>

</form>

</div>



@section Scripts{
<script>
 
    function getTotal() {

        var price = document.getElementById("price").value;
        var qty = document.getElementById("qty").value;
        var total = price * qty;
        
        var discount = document.getElementById("discount").value;

        var NetTotal = total - discount;

        document.getElementById("NetTotal").value = NetTotal;
    }


    function AddItem(btn) {

        var table;
        table = document.getElementById('CodesTable');
        var rows = table.getElementsByTagName('tr');
        var rowOuterHtml = rows[rows.length - 1].outerHTML;

        var lastrowIdx = rows.length - 2;

        var nextrowIdx = eval(lastrowIdx) + 1;

        rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
        rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
        rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);

        var newRow = table.insertRow();
        newRow.innerHTML = rowOuterHtml;

        var x = document.getElementsByTagName("INPUT");

        for (var cnt = 0; cnt < x.length; cnt++) {
            if (x[cnt].type == "text" && x[cnt].id.indexOf('_' + nextrowIdx + '_') > 0) {
                if (x[cnt].id.indexOf('Unit') == 0)
                    x[cnt].value = '';
            }
            else if (x[cnt].type == "number" && x[cnt].id.indexOf('_' + nextrowIdx + '_') > 0)
                x[cnt].value = 0;
        }

        rebindvalidators();
    }

    function rebindvalidators() {

        var $form = $("#PurchaseForm");

        $form.unbind();

        $form.data("validator", null);

        $.validator.unobtrusive.parse($form);

        $form.validate($form.data("unobtrusiveValidation").options);
    }


    function DeleteItem(btn) {

	   var table = document.getElementById('CodesTable');
	   var rows = table.getElementsByTagName('tr');	           
            
	    var btnIdx = btn.id.replaceAll('btnremove-', '');
        var idOfQuantity = btnIdx + "__Quantity";
        var txtQuantity = document.querySelector("[id$='" + idOfQuantity + "']");

        txtQuantity.value = 0;
                        

        var idOfIsDeleted = btnIdx + "__IsDeleted";
        var txtIsDeleted = document.querySelector("[id$='" + idOfIsDeleted + "']");            
        txtIsDeleted.value="true";
                       
        $(btn).closest('tr').hide();

        CalcTotals();
    }



</script>
}